main{
border: 2px solid;
margin: 0 auto;
background-color: rgb(13, 160, 13);
text-align: center;
}



main h1{
font-size: 40px;
color: aliceblue;










}


















